$arrow-white-up = -4px -4px 12px 8px
$arrow-white-down = -4px -20px 12px 8px
$default-image = -4px -36px 10px 10px
$menu-corner-left = -4px -54px 18px 13px
$menu-corner-right = -4px -75px 18px 13px
$arrow-white = -4px -96px 13px 17px
$share = -4px -121px 13px 19px
$header-contact = -4px -148px 20px 20px
$footer-facebook = -4px -176px 20px 20px
$footer-linkedin = -4px -204px 20px 20px
$search-icon = -4px -232px 20px 20px
$header-facebook = -4px -260px 20px 20px
$pdf = -4px -288px 22px 28px
$achmea = -4px -324px 142px 28px
$slider-arrow-left = -4px -360px 40px 40px
$slider-arrow-right = -4px -408px 40px 40px
$thumb-article = -4px -456px 37px 72px
$thumb-link-facebook = -4px -536px 37px 72px
$thumb-link-person = -4px -616px 37px 72px
$thumb-link-youtube = -4px -696px 37px 72px
$thumb-page = -4px -776px 37px 72px
$santrion = -4px -856px 119px 74px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('css/sprite.png')

