$default_font_sans = "Helvetica Neue", Helvetica, Garuda, Utkal, "Nimbus Sans L", FreeSans, Malayalam, "Phetsarath OT", "Liberation Sans", Roboto, Arial, sans-seri
$default_font_serif =  Georgia, "Times New Roman", Times, serif
$default_font_monospace =  Menlo, Monaco, Consolas, "Courier New", monospace

browser-default-font-size-nr = 16
browser-default-font-size = unit(browser-default-font-size-nr, px)

@import "_vars"
@import "_bootstrap-vars"
