// Globals
base-font-size-nr = 15
base-line-height-nr = 25
base-font-size = unit(base-font-size-nr, px)
base-line-height = unit(base-line-height, px)
modular_scale = golden
$images = '../../assets/images/'

$font_one = $default_font_sans
$font_two = $default_font_serif // mainly headings
$font_three = $default_font_monospace

$color_one = #F5F5F5 // mainly bg
$color_one_alt = #DDD // alterning table rows etx
$color_two = #555555 // mainly text
$color_two_alt = #888 // disable
$color_two_alt_two = #AAA // shade / placeholder
$color_three = #69AAEE // main theme color
$color_three_alt = #88BBCC //mainly visited links
$color_four = lightblue // active color / click/active table etc
$color_five = $color_three //
$color_six = $color_three
$color_seven = $color_one
$color_eight = $color_one

$brand-success = #5cb85c
$brand-info =  #5bc0de
$brand-warning = #f0ad4e
$brand-danger = #d9534f

$shadow_one = 0 6px 12px rgba(0,0,0,.175)
$shadow_two = 0 12px 24px rgba(0,0,0,.1)

//** Default background color used for all tables.
$table-bg = transparent
$table-bg-accent = $color_one_alt
$table-bg-hover = $color_three_alt
$table-bg-active = $color_four
$table-border-color = transparent

$block-border = 1px solid $color_three
$aside-border = 1px solid $color_three

$break_min_two = 300px
$break_min_one = 600px
$break_one = 750px
$break_two = 900px
$break_three = 1100px
$break_four = 1200px

$break_max = {
  w: $break_four,
  p: 15px
}

$gutter-width = 12px
$footer-height = 50px

$main_margins_big = 140px
$main_margins_small = 30px

///// Bootstrap
$border-radius-base = 0

$caret-width-base = 4px
$caret-width-large = 5px

//== Navbar
$navbar-default-bg = transparent

// Basics of a navbar
$navbar-height = 50px
$navbar-padding-vertical = 0

$navbar-default-color = $color_four
$navbar-default-border = $color_three

// Navbar links
$navbar-default-link-color = $color_three
$navbar-default-link-hover-color = $color_one
$navbar-default-link-hover-bg = $color_three
$navbar-default-link-active-color = $color_one
$navbar-default-link-active-bg = $color_three

// Navbar brand label
$navbar-default-brand-color = $color_three
$navbar-default-brand-hover-color = $color_two
$navbar-default-brand-hover-bg = transparent

// Navbar toggle
$navbar-default-toggle-hover-bg = $color_three_alt
$navbar-default-toggle-icon-bar-bg = $color_three

//=== Shared nav styles
$nav-link-padding = 10px 15px
$nav-link-hover-bg = $color_two_alter

$nav-disabled-link-color = $color_two_alt
$nav-disabled-link-hover-color = $color_two_alt

//== Dropdowns
$dropdown-bg = $color_one
$dropdown-border = $color_two
$dropdown-fallback-border = $dropdown-border
$dropdown-divider-bg = $color_two
$dropdown-link-color = $color_three
$dropdown-link-hover-color = $color_one
$dropdown-link-hover-bg = $color_three
$dropdown-link-active-color = $color_one
$dropdown-link-active-bg = $color_three
$dropdown-link-disabled-color = $color_two_alt
$dropdown-header-color = $color_three


//== Forms
$input-bg = transparent
$input-bg-disabled = color_two_alt
$input-color = $color_two
$input-border = $color_three


